{% extends 'admin/master.html' %}

{% block body %}
{% if lab_links %}
    <h1>Lab Checklist Complete?</h1>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Harmony Lab</a>
    <a href="{{ url_for('notebook') }}" class="btn btn-primary">Notebook</a>
    <a href="{{ url_for('webcam_feed') }}" class="btn btn-primary">Webcam</a>
    <a href="{{ url_for('recording_feed') }}" class="btn btn-primary">Recording</a>
    <a href="{{ url_for('stream_feed') }}" class="btn btn-danger">Start Stream</a>
    <h1>Visualize Labs</h1>
{% endif %}
{% endblock %}