{% extends 'harmony.html' %}

{% block content %}
    {% with form=form, form_action=url_for('index') %}
        <form id="invisible-form" method="post" style="display: none;">
            {{ form.csrf_token }}
            <input type="hidden" name="drawing_data" id="drawing-data">
        </form>
    {% endwith %}
<button class="button" name="submitDraw" id="submitBtn" formmethod="post" formaction="/">Submit Drawing</button>
{% endblock %}
{% block custom_js %}

<script>
        // Set up the pixel and pressure data arrays
      let event = Event;
      let pixelData = [];
      let pressureData = [];
      let brushPressure = event.pressure || 1.0;
      // Add an event listener to the canvas to capture pixel and brush pressure data
      canvas.addEventListener('mousemove', function(e) {
        if (e.buttons !== 1) {
          return;
        }
        let x = e.clientX - canvas.offsetLeft;
        let y = e.clientY - canvas.offsetTop;
        pixelData.push([x, y]);
        pressureData.push(brushPressure);
      });
        // Add an event listener to the submit button to send the pixel and pressure data to the server
        $('#submitBtn').click(function(){
        let pixelDataString = JSON.stringify(pixelData);
        let pressureDataString = JSON.stringify(pressureData);
        let screenshot = canvas.toDataURL('image/png');

        $.ajax({
          url: '/',
          type: 'POST',
          data: {
            'pixel_data': pixelDataString,
            'pressure_data': pressureDataString
          },
          success: function(response) {
            console.log(response);
          },
          error: function(error) {
            console.log(error);
          }
        });
          document.getElementById('drawing-data').value = {pixel_data: pixelDataString, pressure_data: pressureDataString};
      });
        }
</script>

{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}